body{
    background-image: url(/forest.webp);
    
}

body {
    background-color: #15e653;
    font-family:  sans-serif;
    padding: 30px;
}

.onebox {
    width: 100%;
    margin: auto;
}

.title {
    background-color: #ffff66;
    color: red;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 28px;
}

.styled-text {
    background-color: yellow;
    color: grey;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 20px;
}

.box.outer-box {
    background-color: #ffff66;
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 20px;
}

.box.inner-box {
    background-color: #ce0b53;
    border: 1px solid black;
    padding: 20px;
    color: grey;
    text-align: center;
    font-size: 20px;
}
